<%- include("../partials/header") %>

<h1>Sign Up!</h1>

<form action="/register" method="POST">
	<input type="text" name="username" placeholder="Username">
	<!--
	<input type="email" name="email" placeholder="Email">
	-->
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="SignUp!">
</form>




<%- include("../partials/footer") %>