<%- include("../partials/header") %>


<h1>
	Index route
</h1>

<% galleries.forEach(function(gallery){ %>
	<li> <a href="/gallery/<%= gallery._id %>"> <%= gallery.title %> </a> </li>
<% }); %>


<%- include("../partials/header") %>