<%- include("../partials/header") %>

<header>
	<div class="container text-center">
		
		<h1 class="display-3 text-center text-danger my-4"> Warning! </h1>
		
		<h4 class="d-none d-md-block profileDeleteWarning">
			This action is final. Are you sure you want to delete your profile?
			<br>
			Deleting the profile will also premanently delete all your journals and galleries!
		</h4>
		
		<p class="d-block d-md-none profileDeleteWarning">
			This action is final. Are you sure you want to delete your profile?
			<br>
			Deleting the profile will also premanently delete all your journals and galleries!
		</p>
		
		<hr>
		
	</div>
</header>

<main>
	<div class="container text-center mt-5">
		
		<a class="btn btn-success" href="/profile/<%= user._id %>">Go back</a>
	
		<form class="d-inline" action="/profile/<%= user._id %>?_method=DELETE" method=POST>
			<button class="btn">Delete My Profile</button>
		</form>
		
	</div>
</main>


<%- include("../partials/footer") %>