<%- include ("../partials/header") %>

<h1>All Notifications</h1>

<% allNotifications.forEach(function(notification){ %>
	<li> 
		<a href="/notifications/<%= notification.id %>">
			<%= notification.username %> published a 
			<% if(notification.gallery){ %>
				Gallery
			<% }else{ %>
				Journal
			<% } %>
		</a> 
	</li>
<% }); %>

<%- include ("../partials/footer") %>