.darkModeBody {
	background-color: #212529;
	color: gray;
}

.darkModeCard{
	background-color: #212529;
}

.darkModeCard2 {
	background-color: #2b2c30;
}

.darkModeImgThumbnail {
	padding:.25rem;
	background-color: #2D2D2D;
	border:1px solid #3A3A3E;
	border-radius:.25rem;
	max-width:100%;
	height:auto;
}

.darkModeBtn {
	background-color: #df8800;
}

.darkModeOrangeText {
	color: #df8800;
}

.darkModeJumbotron {
	background-color: #2D2D2D;
}