body {
	background-color: white;
	padding-top:0;
}

h1 {
	font-size: 4rem;
}

.indexImg {
	height: 240px; 
	width: 100%; 
	object-fit: cover;
}

.indexImg2 {
	height: 230px; 
	width: 100%; 
	object-fit: cover;
}

.indexCardHeight {
	height: 255px;
}


.scrolled {
	background-color: #2b2c30;
  	transition: background-color 200ms linear;
}

.firstImg {
  	min-height: 600px;
  	position: absolute;
 	width: 100%;
  	height: 65%;
  	top: 0;
  	left: 0;
  	z-index: 0;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

.slideshow {
  	min-height: 600px;
  	position: absolute;
 	width: 100%;
  	height: 65%;
  	top: 0;
  	left: 0;
  	z-index: 0;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

.firstImg li {
	width: 100%;
  	height: 65%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background-size: cover;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	opacity: 0;
  	z-index: -1;
	background-image: url(https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  	animation: firstImg 15s;
}

.slideshow li { 
  	width: 100%;
  	height: 65%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	background-size: cover;
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	opacity: 0;
  	z-index: 0;
  	animation: imageAnimation 70s linear infinite; 
}

.slideshow li:nth-child(1) { 
  /* background-image: url(https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80); */
  background-image: url(https://images.unsplash.com/photo-1542893844-928bab40dcd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2059&q=80);
}

/*

https://images.unsplash.com/photo-1507552967115-8fb65e2c79cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80

https://images.unsplash.com/photo-1510952267577-fc96d5ca660a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80

*/

.slideshow li:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
  animation-delay: 15s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1517789382289-acf6d0f50222?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 35s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1567878043027-a92e1fae007e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
  animation-delay: 45s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  animation-delay: 55s; 
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}

.slideshow, .firstImg {
	filter: brightness(60%);
}


@keyframes firstImg { 
	0% {
		opacity: 1;
		animation-timing-function: ease-out;
	}
	100% {
		opacity: 0;
	}
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0
  }
}

#content {
	color: white;
	position: relative;
	z-index: 1;
	background: none;
}