body {
  	background-color: #000;
}

h1 {
	font-size: 6rem;
	color: #f3f3f3;
	font-size: 6rem;
	text-shadow:
   -0.8px -0.8px 0 gray,  
    0.8px -0.8px 0 gray,
    -0.8px 0.8px 0 gray,
     0.8px 0.8px 0 gray;
}

@media screen and (max-width: 767px) {
  h1 {
	font-size: 4rem;
	}
}

a h3 {
	font-family: 'Srisakdi', cursive;
	font-size: 4rem;
	color: #f3f3f3;
	font-family: 'Srisakdi', cursive;
	font-size: 4rem;
	color: #f3f3f3;
	text-shadow:
   -1px -1px 0 gray,  
    1px -1px 0 gray,
    -1px 1px 0 gray,
     1px 1px 0 gray;
}


.navbar {
	font-size: 1.1rem;	
}

.navBg {
	background-color: rgba(0, 0, 0, 0.5);
}
	
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite; 
}

.slideshow li:nth-child(1) { 
  	background-image: url(https://images.unsplash.com/photo-1547626740-02cb6aed9ef8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)
		
/*		
(https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80  );
*/
}

.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  animation-delay: 8s;
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1457264635001-828d0cbd483e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80);
	  
	  
	 /* (https://images.unsplash.com/photo-1517965319782-7b911f164cc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80  );
  */
	
	animation-delay: 16s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1567878043027-a92e1fae007e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);
  animation-delay: 24s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1499591934245-40b55745b905?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);
  animation-delay: 30s; 
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}



#landing-header {
	z-index: 1;
  	position: relative;
  	text-align: center;
  	padding-top: 38vh;
	color: #fff;
}

@media only screen and (max-width: 500px) {
	
	#landing-header {
  		padding-top: 20vh;
	}
	
}

#landingSubtitle {
	text-decoration: none;
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 0.8;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 0
  }
}