body {
	padding-top: 70px;
	/* background-color: #f8f9fa; */
}


.btn:focus {
	box-shadow: none;
}

.lightJumbotron {
	background-color: #ecf0f1; 
	color: #2c3e50;
}

/*
.card {
	
	background-color: #f7f7f7;
	
}

*/