<%- include("../partials/header") %>


<form action="/blog" method="POST">
	<input type="text" name="blog[title]" placeholder="title">
	<input type="text" name="blog[img]" placeholder="img URL">
	<input type="text" name="blog[content]" placeholder="content">
	<button>Submit</button>
</form>

<a href="/blog">Back</a>



<%- include("../partials/footer") %>