<%- include("../partials/formHeader") %>

<!-- Form for creating a new blog -->
<div class="container">
	
	<div class="row text-center mt-5">
		<a href="/blog">Go Back</a>
		<h1 class="mx-auto">Create a New Journal</h1>
	</div>
	
	<div class="row">
		<div class="col-lg-8 mx-auto">
			
			<!-- form -->
			<form class="my-2" action="/blog" method="POST" enctype="multipart/form-data">
				
				<!-- title -->
				<div class="form-group">
					<label for="input1"> <strong> Title </strong> </label>
					<input id="input1" class="form-control" class="form-control" type="text" name="blog[title]" placeholder="My trip to Spain..." required>
				</div>
				
				<!-- picture -->
				<div class="form-group">
					<label for="input2"> <strong> Picture </strong> </label>
				  	<div class="custom-file">
						<input id="input2" class="custom-file-input" type="file" name="img" accept="image/*" required>
						<label class="custom-file-label bg-light" for="input2">Choose file</label>
				  	</div>
				</div>
				
				<!-- description for the index page -->
				<div class="form-group">
					<label for="input3"> <strong> Description </strong> </label>
						<textarea id="input3" class="form-control" name="blog[description]" placeholder="A short description of the Journal. This is the first thing readers will read, and it can make you stand out! Min length: 30 characters; Max length 200 characters." minlength="30" maxlength="200" rows="4" required></textarea>	
				</div>					
				
				<!-- blog text -->
				<div class="form-group">
					<label for="input4"> <strong> Journal </strong> </label>
					<textarea id="input4" class="form-control" name="blog[content]" placeholder="Content..." rows="15" required></textarea> 
				</div>
				
				<button class="btn btn-primary btn-block">Submit!</button>
			</form>
		</div>
	</div>
</div>


<%- include("../partials/footer") %>